<% @clusters.each do |cluster| %>
  <div>
    <%= link_to cluster.name.to_s, "/users/#{@user.username}/curated_clusters/#{cluster.id}" %>
  </div>
<% end %>

<%= link_to "New Curated Cluster", "/users/#{@user.username}/curated_clusters/new" %>
