<div class ="curated-container">
  <div class = "curated-cluster-list">
    <div class = "clusters-header">
      Your Clusters:
    </div>
      <% @clusters.each do |cluster| %>
        <div class = "cluster">
          <%= link_to cluster.name.to_s, "/users/#{@user.username}/curated_clusters/#{cluster.id}" %>
        </div>
      <% end %>
  </div>
      <%= link_to "Create New Curated Cluster", "/users/#{@user.username}/curated_clusters/new" %>
</div>